* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* header row nav*/

.nav-page{
    width: 100%;
    background-color:#ADD8E6 ;
}

.nav-container{   
    display: flex;
    flex-wrap: wrap;
    min-height: 70px;
    padding: 30px;
    max-width: 900px;
    margin: 0 auto;
}

.col-3{
    min-height: 10px;
    flex-basis: calc(100% / 4);
    border: 1px solid black;
}


.col-6{
    min-height: 10px;
    flex-basis: calc(100% / 2) ;
    border: 1px solid black;
}

.orange{
    background-color: #DAA520;
}

/* seconda section header  */

.header-page{
    width: 100%;
    background-color: #00008B;
}

.pink{
    background-color:#EE82EE;
    border: 1px solid black;
    min-height: 60px;
}

.container-header{
    display: flex;
    flex-wrap: wrap;
    min-height: 300px;
    padding: 30px;
    justify-content: center;
}

.col-6-special{
    max-width: 500px;
    flex-basis: calc(100% / 2);
}


/* main section con tre row */

.main-page{
    width: 100%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    min-height: 300px;
    padding: 30px;
    max-width: 650px;
    margin: 0 auto;
}

.col-7{
    flex-basis: calc((100% / 12) * 7);
    min-height: 80px;
}

.col-5{
    flex-basis: calc((100% / 12) * 5);
    min-height: 80px;
}


.blue{
    background-color:#1E90FF ;
}

.light-pink{
    background-color: #FFC0CB;
}

.main-page-bg-grey{
    background-color: #D3D3D3;
}

/* footer  */

.footer-page{
   width: 100%;
   background-color:#D3D3D3;
}

.green-section{
    min-height: 500px
}

.col-12{
    flex-basis: 100%;
    background-color: green;
}

