* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.nav-page{
    min-height: 70px;
    
    padding: 20px;
    background-color:#ADD8E6 ;
    display: flex;
    flex-wrap: wrap;
}

.col-3{
    border: 1px solid black;
    min-height: 10px;
    flex-basis: calc(100% / 4);
    
}

.col-6{
    border: 1px solid black;
    min-height: 10px;
    flex-basis: calc(100% / 2) ;
    
    
}